@inject HttpClient Http
@inject Services.ILeaderboardService leaderboardService
@inject Services.IStringServices stringService

@if (CurrentLeaderboard == null)
{
    <div class="container-fluid row text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <DatagridView Items="CurrentLeaderboard.Leaderboard" Context="profile">
        <TableHeader>
            <th>#Rank</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Country</th>
            <th>Games</th>
            <th>Wins</th>
            <th>Losses</th>
        </TableHeader>
        <RowTemplate>
            <td>@profile.Rank</td>
            <td> <a href="@string.Format($"/profile/{profile.ProfileId.ToString()}")">@profile.Name</a> </td>
            <td>@profile.Rating</td>
            <td><img src="https://www.countryflags.io/@profile.Country/flat/32.png"></td>
            <td>@profile.Games</td>
            <td>@profile.Wins</td>
            <td>@profile.Losses</td>
        </RowTemplate>
    </DatagridView>
}
@code {
    [Parameter]
    public string leaderboardId { get; set; }

    [Inject]
    protected Services.ILeaderboardService leaderboard { get; set; }

    [Inject]
    protected Services.IStringServices strings { get; set; }


    private int startResult;

    private const int DEFAULT_COUNT = 500;


    private Models.LeaderboardResult CurrentLeaderboard;
    private Models.GeneralData GeneralData;


    protected override async Task OnInitializedAsync()
    {
        StateHasChanged();
        //CurrentLeaderboard = await leaderboard.GetLeaderboardAsync(int.Parse(leaderboardId), 1, DEFAULT_COUNT, null, null, null);
        CurrentLeaderboard = await GetCurrentLeaderboardByStart(1);
        GeneralData = await stringService.GetStringsAsync("en");
    }

    public async Task<Models.LeaderboardResult> GetCurrentLeaderboardByStart(int startPosition) =>
        CurrentLeaderboard = await leaderboard.GetLeaderboardAsync(int.Parse(leaderboardId), startPosition, DEFAULT_COUNT, null, null, null);
}
